* {
  margin: 0;
  padding: 0;
}

body {
  margin: 1rem;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  box-sizing: border-box;
  background-color: #8aaae5;
}
button {
  padding: 0rem 0.2rem;
}
input {
  margin-left: 1rem;
}
.button-toggleView {
  margin-left: 0.5rem;
}
.showButton {
  display: block;
  margin-bottom: 1rem;
}
.hideButton {
  display: none;
}
.Notification {
  border-style: solid;
  width: 80vw;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.error {
  color: rgb(140, 0, 0);
}
.normal {
  color: rgb(3, 58, 3);
}

.title {
  font-size: xx-large;
  grid-area: title;
  justify-self: flex-start;
  align-self: center;

  margin-right: 0.5rem;
}
.logged {
  display: flex;
  justify-self: flex-end;
  align-self: center;
  grid-area: logged;
}
.loggedUser {
  margin-right: 0.5rem;
}
#logoutButton {
  height: fit-content;
}
.main {
  grid-area: main;
  justify-self: flex-start;
  align-self: flex-end;
}
.users {
  justify-self: flex-end;
  align-self: flex-end;
  grid-area: users;
}
.loggedGridContainer {
  background-color: #7ea1e1;
  margin-bottom: 1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.3rem;
  display: grid;
  /* border-bottom: solid black; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  grid-template-areas:
    "title logged"
    "main users";
}

.createNewBlog {
  margin-bottom: 1rem;
}

.userTitle {
  font-size: 15pt;
  margin-right: 6rem;
  font-weight: 600;
}
.lineWrap {
  display: flex;
}
a {
  /* width: 12rem; */
  text-decoration: none;
  color: rgb(26, 30, 69);
}
